<mail:subject>
<xf:macro name="sv_mention_macros::quote_subject"
          arg-sender="{$post.username}"
          />
</mail:subject>

<xf:macro name="sv_mention_macros::quote"
          arg-content="{$post}"
          arg-message="{$post.message}"
          arg-receiver="{$receiver}"
          arg-user="{$post.User}"
          arg-username="{$post.username}"
          arg-contentType="post"
          arg-contentLink="{{ link('canonical:posts', $post) }}"
          arg-contentTitle="{{ prefix('thread', $thread, 'escaped') }}{$thread.title}" />

<xf:macro name="sv_mention_macros::quote_footer"
          />