<mail:subject>
    {{ phrase('sv_usermentionsimprovements_you_were_quoted_in_a_thread') }}
</mail:subject>

{{ phrase('sv_usermentionsimprovements_quote_email_html', {
'receiver': $receiver.username,
'quoter': username_link_email($post.User, $post.username),
'board': '<a href="' . link('canonical:index') . '">' . $xf.options.boardTitle . '</a>'
}) }}

<h2><a href="{{ link('canonical:posts', $post) }}">{{ prefix('thread', $thread, 'escaped') }}{$thread.title}</a></h2>

<xf:if is="$xf.options.emailWatchedThreadIncludeMessage">
    <blockquote>{{ bb_code($post.message, 'post', $post.User, [], 'emailHtml')|raw }}</blockquote>
</xf:if>

<xf:macro template="thread_forum_macros" name="go_thread_bar" arg-thread="{$thread}" arg-watchType="forums" />

<xf:macro template="thread_forum_macros" name="watched_forum_footer" arg-thread="{$thread}" arg-forum="{$forum}" />