<mail:subject>
<xf:macro template="sv_mention_macros"
          name="mention_subject"
          arg-sender="{$reportComment.username}"
          />
</mail:subject>

<xf:macro template="sv_mention_macros"
          name="mention"
          arg-content="{$reportComment}"
          arg-message="{$reportComment.message}"
          arg-receiver="{$receiver}"
          arg-user="{$reportComment.User}"
          arg-username="{$reportComment.username}"
          arg-contentType="report_comment"
          arg-contentLink="{{ link('canonical:reports/comments', $reportComment.Report) }} '#report-comment-' . {{$reportComment.report_comment_id}}"
          arg-contentTitle="{$reportComment.Report.title}"
          />

<xf:macro template="sv_mention_macros"
          name="mention_footer"
          />