<mail:subject>
<xf:macro name="sv_mention_macros::mention_subject"
		  arg-sender="{$profilePostComment.username}"
		  />
</mail:subject>

<xf:macro name="sv_mention_macros::mention"
          arg-content="{$profilePostComment}"
          arg-message="{$profilePostComment.message}"
		  arg-receiver="{$receiver}"
          arg-user="{$profilePostComment.User}"
          arg-username="{$profilePostComment.username}"
          arg-contentType="profile_post_comment"
          arg-contentLink="{{ link('canonical:profile-posts/comments', $profilePostComment) }}"
          arg-contentTitle="{{ phrase('sv_user_profile', {
	'name': $profilePostComment.ProfilePost.ProfileUser.username
}) }}"
		  />

<xf:macro name="sv_mention_macros::mention_footer"
		  />