<xf:checkboxrow label="" explain="{{ phrase('sv_user_group_is_mentionable_explain') }}">
	<xf:option name="sv_mentionable" label="{{ phrase('sv_user_group_is_mentionable') }}" checked="{$userGroup.sv_mentionable}" />
</xf:checkboxrow>

<xf:checkboxrow label="" explain="{{ phrase('sv_user_group_is_private_explain') }}">
	<xf:option name="sv_private" label="{{ phrase('sv_user_group_is_private') }}" checked="{$userGroup.sv_private}" />
</xf:checkboxrow>

<xf:textboxrow label="{{ phrase('sv_user_group_avatar_image_small') }}" name="sv_avatar_s" value="{$userGroup.sv_avatar_s}" explain="{{ phrase('sv_user_group_avatar_image_small_explain') }}" />
<xf:textboxrow label="{{ phrase('sv_user_group_avatar_image_large') }}" name="sv_avatar_l" value="{$userGroup.sv_avatar_l}" explain="{{ phrase('sv_user_group_avatar_image_large_explain') }}" />