<xf:title>{$userGroup.title}</xf:title>

<xf:description>
    <xf:if is="{$userGroup.sv_private}">{{ phrase('sv_user_group_is_private') }}</xf:if>
</xf:description>

<div class="block">
    <div class="block-container">
        <xf:if is="$userGroup.sv_avatar_s_url">
            <div class="block-header">
                <img src="{$userGroup.sv_avatar_s_url}"/>
            </div>
        </xf:if>
        <ol class="block-body">
            <xf:foreach loop="$users" key="$userId" value="$user">
                <li class="block-row block-row--separated">
                    <xf:macro template="member_list_macros" name="item" arg-user="{$user}"/>
                </li>
            </xf:foreach>
        </ol>
    </div>
    <div class="block-outer block-outer--after">
        <xf:pagenav link="members/usergroup"
					page="{$page}"
					perpage="{$perPage}"
					total="{$total}"
					data="{$userGroup}"
					params="{{ $linkFilters ?: [] }}" />
    </div>
</div>